{% extends "base.html.twig" %}
{% block title %}Instagram{% endblock %}
{% block body %}
{% if app.user %}
    <div class="mainContent">
        <section>
            <article class="stories-box">
                {{ include('partials/_storie-item.html.twig', {'user':user}) }}
            </article>
            {{ include('partials/_posts.html.twig') }}
        </section>
        <aside>
            <article class="suggestions">
                <p>Suggestions For You</p>
                {{ include('partials/_suggestions.html.twig',{'users':users}) }}
            </article>
            <footer>
                <ul class="footer-ul">
                    <li>About</li>
                    <li>Press</li>
                    <li>API</li>
                    <li>Jobs</li>
                    <li>Privacy</li>
                    <li>Terms</li>
                    <li>Locations</li>
                    <li>TopAccounts</li>
                    <li>Hashtags</li>
                    <li>Language</li>
                </ul>
                <p>© 2021 INSTAGRAM FROM META</p>
            </footer>
        </aside>
    </div>
{% endif %}
{% endblock %}