{% extends 'base.html.twig' %}
{% block title %}Search{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('css/search.css') }}">
{% endblock %}
{% block body %}
    <main class="mainSearch">
        <ul class="users-searched">
            <li class="user-searched">
                <a href="profile.html">
                    <img src="img/storie-image.png" alt="profile-pic">
                    <div>
                        <p>darius</p>
                        <p class="description">Descripcion</p>
                    </div>
                </a>
            </li>
            <li class="user-searched">
                <a href="profile.html">
                    <img src="img/storie-image.png" alt="profile-pic">
                    <div>
                        <p>darius</p>
                        <p class="description">Descripcion</p>
                    </div>
                </a>
            </li>
            <li class="user-searched">
                <a href="profile.html">
                    <img src="img/storie-image.png" alt="profile-pic">
                    <div>
                        <p>darius</p>
                        <p class="description">Descripcion</p>
                    </div>
                </a>
            </li>
            <li class="user-searched">
                <a href="profile.html">
                    <img src="img/storie-image.png" alt="profile-pic">
                    <div>
                        <p>darius</p>
                        <p class="description">Descripcion</p>
                    </div>
                </a>
            </li>
            <li class="user-searched">
                <a href="profile.html">
                    <img src="img/storie-image.png" alt="profile-pic">
                    <div>
                        <p>darius</p>
                        <p class="description">Descripcion</p>
                    </div>
                </a>
            </li>
            <li class="user-searched">
                <a href="profile.html">
                    <img src="img/storie-image.png" alt="profile-pic">
                    <div>
                        <p>darius</p>
                        <p class="description">Descripcion</p>
                    </div>
                </a>
            </li>
            <li class="user-searched">
                <a href="profile.html">
                    <img src="img/storie-image.png" alt="profile-pic">
                    <div>
                        <p>darius</p>
                        <p class="description">Descripcion</p>
                    </div>
                </a>
            </li>
            <li class="user-searched">
                <a href="profile.html">
                    <img src="img/storie-image.png" alt="profile-pic">
                    <div>
                        <p>darius</p>
                        <p class="description">Descripcion</p>
                    </div>
                </a>
            </li>
            <li class="user-searched">
                <a href="profile.html">
                    <img src="img/storie-image.png" alt="profile-pic">
                    <div>
                        <p>darius</p>
                        <p class="description">Descripcion</p>
                    </div>
                </a>
            </li>
        </ul>
    </main>
{% endblock %}