{% extends 'base.html.twig' %}
{% block title %}Search{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('css/search.css') }}">
{% endblock %}
{% block body %}
    <main class="mainSearch">
        {{ include('partials/_searched_users.html.twig',{'users':users}) }}
    </main>
{% endblock %}