<div class="modal-emojis hide" id="modalEmoji">
    <p>&#128512;</p>
    <p>&#128513;</p>
    <p>&#128514;</p>
    <p>&#128515;</p>
    <p>&#128516;</p>
    <p>&#128517;</p>
    <p>&#128518;</p>
    <p>&#128519;</p>
    <p>&#128520;</p>
    <p>&#128521;</p>
    <p>&#128522;</p>
    <p>&#128523;</p>
    <p>&#128524;</p>
    <p>&#128525;</p>
    <p>&#128526;</p>
    <p>&#128527;</p>
    <p>&#128528;</p>
    <p>&#128529;</p>
</div>