<ul class="messages" id="messages">
    {% for message in messages %}
    <li class="message {{ message.sender.id == currentUser.id ? 'owner':'other'}}">
        <p>{{ message.content }}</p>
    </li>
    {% endfor %}
</ul>