<div class="stories">
<div class="my-storie storie-item" id="create-story">
    <div>
        <a href=""><img src="data:image/jpeg;base64,{{ profileImage[app.user.id] }}" alt="Me"></a>
    </div>
    <p>
        Your Story
    </p>
</div>
<div class="other-storie storie-item">
    <div>
        <a href=""><img src="img/storie-image.png" alt="maniscus"></a>
    </div>
    <p>
        maniscus
    </p>
</div>
<div class="other-storie storie-item">
    <div>
        <a href=""><img src="img/storie-image.png" alt="leoni_tu"></a>
    </div>
    <p>
        leoni_tu
    </p>
</div>
<div class="other-storie storie-item">
    <div>
        <a href=""><img src="img/storie-image.png" alt="katarina"></a>
    </div>
    <p>
        katarina
    </p>
</div>
<div class="other-storie storie-item">
    <div>
        <a href=""><img src="img/storie-image.png" alt="brandon"></a>
    </div>
    <p>
        brandon
    </p>
</div>
<div class="other-storie storie-item">
    <div>
        <a href=""><img src="img/storie-image.png" alt="mik"></a>
    </div>
    <p>
        mik
    </p>
</div>
<div class="other-storie storie-item">
    <div>
        <a href=""><img src="img/storie-image.png" alt="midudev"></a>
    </div>
    <p>
        midudev
    </p>
</div>
</div>