<div class="stories">
<div class="my-storie storie-item" id="create-story">
    <div>
        <a href=""><img src="data:image/jpeg;base64,{{ profileImage[app.user.id] }}" alt="Me"></a>
    </div>
    <p>
        Your Story
    </p>
</div>
{% if stories %}
{% for story in stories %}
    <div class="other-storie storie-item">
        <div>
            <a href="/story"><img src="{{ story.userStory.photo }}" alt="maniscus"></a>
        </div>
        <p>
            {{ story.userStory.username }}
        </p>
    </div>
{% endfor %}
{% endif %}