<div>
    {% for user in users %}
    <div class="suggestion-item" data-id="{{ user.id }}">
        <a href="/profile/{{ user.username }}"><img src="data:image/jpeg;base64,{{ profileImage[user.id] }}" alt="profil-pic" loading="lazy"></a>
        <div>
            <p>{{ user.username }}</p>
            <p class="followed">Followed by mark + 2more</p>
        </div>

        {% if isFollowing[user.id] %}
        <a href="" class="unfollow-btn followed">Following</a>
        {% else %}
        <a href="" class="follow-btn unfollowed">Follow</a>
        {% endif %}
    </div>
    {% endfor %}
</div>