main {
    display: flex;
    max-width: 1120px;
    margin: 0 auto;
    margin-top: 100px;
}

.message-users {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    width: 300px;
}

.message-users > div:first-child{
    display: flex;
    justify-content: flex-end;
    gap: 100px;
    padding: 15px 10px 15px 10px;
    font-weight: bold;
    border-bottom: 1px solid #DBDBDB;
}

.message-user-item {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow: scroll;
}

.message-user-item > div {
    display: flex;
    gap: 10px;
    padding: 10px;
    max-height: 400px;
}

.message-user-item div img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.message-user-item div > div p:first-child {
    font-weight: bold;
}

.message-user-item > div > div p:last-child {
    color: #525252;
}

.type-messages {
    display: flex;
    border-bottom: 1px solid #DBDBDB;
    padding: 15px;
    gap: 30px;
}

.type-messages p {
    font-size: 0.8em;
    color: #aaaaaa;
}

.type-messages .active {
    color: #0a0a0a;
    font-weight: bold;
}

.message-item {
    display: flex;
    flex-direction: column;
    width: 820px;
    border: 1px solid #DBDBDB;
}

.message-item-user-info  {
    display: flex;
    background-color: #FFFFFF;
    max-width: 820px;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #DBDBDB;
}

.message-item-user-info img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.messages {
    padding: 10px;
    height: 450px;
    overflow: scroll;
}

.message{
    display: flex;
    flex-direction: column;
    padding: 4px;

    > img{
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 99px;
    }

    > p{
        margin-top: 4px;
        border-radius: 4px;
    }

    &.owner{
        align-items: flex-end;
        > p{
            padding: 10px;
            font-weight: 400;
            background-color: #eeeeee;
            border-radius: 40px;
        }
    }

    &.other{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        > img{
            background-color: rgb(152, 239, 136);
        }

        > p{
            padding: 10px;
            font-weight: 400;
            background-color: #eeeeee;
            border-radius: 40px;
        }
    }
}

.send-messages {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
}

.send-messages input {
    width: 700px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid #DBDBDB;
    padding-left: 10px;
}