* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    background-color: #3b3b3b;
    font-family: Arial, sans-serif;
    flex-direction: column;
    height: 100vh;
}

.story-menu{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgb(34, 34, 34);
    align-items: center;
    justify-content: flex-end;
}

.story-menu > a{
    display: flex;
    color: white;
    justify-content: flex-end;
    margin-right: 10px;
    text-decoration: none;
}

.story-main-content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.story > img{
    width: 350px;
    height: 600px;
}

.story-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.story {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    position: relative;
    transition: transform 0.3s ease;
    box-shadow: rgba(10, 10, 10, 0.3) 0px 0px 50px 10px;
}

.story.blurred img {
    filter: blur(3px);
    opacity: 0.7;
}